*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;       
}

button {
    font-size: 18px;
    background-color: rgb(217, 31, 223);
    color: black;
    padding: 3px 5px;
    border-radius: 5px;    
    border: 3px solid rgb(217, 31, 223);
    border-left: 6px solid rgb(175, 79, 194);
    border-top: 6px solid rgb(171, 10, 203);
    transition: all 0.25s ease-in-out; 
}

button:hover {
    border: 3px solid rgb(31, 223, 41);
    background-color: rgb(31, 223, 41);
    border-left: 6px solid rgb(20, 138, 25);
    border-top: 6px solid rgb(20, 138, 25);
    transition: all 0.25s ease-in-out; 
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: rgb(127, 44, 235);
    color: white;
    text-align: center;
}

body {
    background-color: rgb(62, 7, 134);
    font-family: "poppins", sans-serif;
}

.row {
    display: center;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 7 px 7px 13px 0 rgb(11, 224, 240);
    padding: 20px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card p {
    color: rgb(8, 4, 247);
    font-size: 16px;
}

.green {
    border-left: 10px solid greenyellow;
}

.blue {
    border-left: 10px solid rgb(9, 224, 240);
}

.pink {
    border-left: 10px solid rgb(240, 9, 228);
}



#mapa {
    width: 100px;
}

#mapa:hover {
    width: 750px; 
}

footer {
    background-color: rgb(127, 44, 235);
    color: white;
    text-align: center;
}

h1, p, h2 {
    color: #fff;
    text-align: center;
}

nav {
    padding: 10px;
    text-align: center
}



/*editar para ver se dar certo*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

.wrapper .header{
	width: 100%;
	height: 100%;
	background: #4beb53;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 900;
}

.cards_wrap{
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 25%;
}

.cards_wrap .card_inner{
	background: #fff;
	border-radius: 5px;
	padding: 35px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
}

/*.cards_wrap .card_item img{
	width: 80px;
	height: 80px;
	margin-bottom: 5px;
}*/

.cards_wrap .card_item .role_name{
	color: #030001;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: aqua;
    text-align: center;
}

.cards_wrap .card_item .real_name{
	color: #b6c0c2;
	font-size: 12px;
	font-weight: 100;
	margin: 5px 0 10px;
}

.cards_wrap .card_item .film{
	font-size: 14px;
	line-height: 24px;
	color: #7b8ca0;
}

@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 50%;
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
	}
}

