*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial';       
}

#baixar-pdf {
    font-size: 18px;
    background-color: rgb(125, 201, 13);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    border: 3px solid rgb(125, 201, 13);
    border-left: 6px solid rgb(137, 221, 11);
    transition: all 0.25s ease-in-out;
}

#baixar-pdf:hover {
    color: rgb(125, 201, 13);
    background-color: white;
}

button {
    font-size: 18px;
    background-color: rgb(155, 44, 199);
    color: black;
    padding: 3px 5px;
    border-radius: 5px;    
    border: 3px solid rgb(155, 44, 199);
    border-left: 6px solid rgb(185, 89, 223);
    transition: all 0.25s ease-in-out; 
}

button:hover {
    color: rgb(155, 44, 199);
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: rgb(222, 104, 233);
    color: white;
    text-align: center;
}

body {
    background-color: rgb(158, 236, 236);
}

#mapa {
    width: 100px;
}

#mapa:hover {
    width: 750px; 
}

footer {
    background-color: rgb(222, 104, 233);
    color: white;
    text-align: center;
}

